src/wsdl/demo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- July 14, 2005 -->
<wsdl:definitions name="HelloService"
	targetNamespace="http://www.baidu.com/helloservice" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.baidu.com/helloservice"
	xmlns:interface="http://www.baidu.com/helloservice">


	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.baidu.com/helloservice">
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="streamingNo" type="xsd:string"></xsd:element>
						<xsd:element name="ID" type="xsd:string"></xsd:element>
						<xsd:element name="IDType" type="xsd:string"></xsd:element>
						<xsd:element name="status" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="streamingNo" type="xsd:string"></xsd:element>
						<xsd:element name="resultCode" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="NewPortType">
		<wsdl:operation name="NewOperation">
			<wsdl:input message="tns:NewOperationRequest"></wsdl:input>
			<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="NewBinding" type="tns:NewPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
	</wsdl:binding>
	<wsdl:service name="NewService">
		<wsdl:port name="NewPort" binding="tns:NewBinding">
			<soap:address location="http://www.example.org/helloService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
